.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #fff;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  .cardBody {
    padding: 15px;
    text-align: center;
    background-color: #e9f8ec;
  }
  
  .cardTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cardPrice {
    font-size: 16px;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  .cardDescription {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .addToCartButton {
    width: 100%;
    padding: 10px;
    background-color: #018A08;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'shoor-Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.2s ease-in-out;
    direction: rtl;
  
  }
  
  .addToCartButton:hover {
    background-color: #14911a;
  }

  .plusIcon {
    margin-left: 5px;
  }
  