@use '../../../../styles/globals.scss' as *;

.newTemplatePage {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 28px;
  color: $dark-text;
  margin-bottom: 5px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: $light-text;
}
