/* src/styles/BlogPage.module.css */
.header {
  position: relative;
  width: 100%;
  height: 60vh;
  direction: rtl;
}

.headerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 80%;
  right: 5%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #f5f5f5;
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.authorImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.authorInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.authorIcon {
  color: #e4e4e4;
}