.cartContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #ffdde1, #d4f1f4, #fff7e5) !important;
  font-family: 'shoor-Medium', sans-serif;
}

.cartContent {
  padding: 100px 30px;
  flex: 1;
  text-align: center;
}

.cartTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.emptyMessage {
  font-size: 20px;
  color: #666;
}

.cartList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 1px 2px rgb(216, 216, 216);
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease; 
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: white;
}

.cartItem:hover {
  background-color: #f5fff8; 
}

.cartItem:last-child {
  border-bottom: none;
}

/* Controls for increasing/decreasing quantity */
.controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.decreaseButton,
.increaseButton {
  background: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.decreaseButton:hover,
.increaseButton:hover {
  background-color: #f0f0f0;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
}

/* Center section for product details */
.cartItemDetails {
  flex: 1;
  text-align: center;
}

.cartItemTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cartItemPrice {
  font-size: 16px;
  color: #28a745;
}

/* Image section on the right */
.cartItemImage {
  width: 80px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
}

/* Back button styling */
.backButton {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  color: #0056b3;
  border: 1px solid #0056b3;
}

.checkoutButton {
  margin-right: 20px;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkoutButton:hover {
  background-color: #0056b3;
}