@use '@/styles/globals.scss' as *;

.canvasViewerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.loadingState {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark-text;
  font-size: $font-size-lg;
  background-color: $card-bg;
  border-radius: $border-radius-sm;

  p {
    padding: $spacing-lg;
    background: white;
    border-radius: $border-radius-sm;
    box-shadow: $shadow-sm;
  }
}

.canvasContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $card-bg;
  border-radius: $border-radius-sm;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    display: block;
    border-radius: $border-radius-sm;
  }
}
