.templateContainer {
  min-height: 100vh;
  background: linear-gradient(180deg, #FFDDE1, #D4F1F4, #FFF7E5) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'shoor-Medium';
}

.contentWrapper {
  text-align: center;
  padding: 20px;
}

.selectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Image Selection */
.imageOptions {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.imageContainer {
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.imageContainer:hover {
  transform: scale(1.05);
}

.templateImage {
  width: 180px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imageLabel {
  font-size: 16px;
  margin-top: 8px;
  color: #333;
  font-weight: bold;
}

/* Selected Template Section */
.selectedTemplate {
  text-align: center;
}

.storyList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

/* Story Cards */
.storyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.storyCard:hover {
  transform: scale(1.05);
}

.iconContainer {
  font-size: 30px;
  margin-bottom: 10px;
}

.storyIcon {
  color: #007BFF;
}

.storyTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.storyDescription {
  font-size: 14px;
  color: #666;
  text-align: center;
}

.backButton {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'shoor-Medium';
}

.backButton:hover {
  background-color: #0056b3;
}
