@use "sass:color";
$primary-color: #345BC0;
$color-primary-darker: hsl(from var($primary-color) h s calc(l - 5));
$background-light: #ECECEC;
$button-bg: #80D46D;
$button-bg-darker: hsl(from var($button-bg) h s calc(l - 5));

.story-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 110px 20px 20px 20px;
  height: calc(100% - 60px);
}

.right-content {
  width: 43%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .image-container {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }
  }

  .rectangle-container {
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    .help-button {
      width: 100%;
      font-family: "shoor-Medium", sans-serif;
      background-color: $button-bg;
      color: white;
      border: none;
      padding: 10px 40px;
      font-size: 22px;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 0 1px 2px rgb(192, 192, 192);

      &:hover {
        background-color: $button-bg-darker;
      }
    }
  }
}

.story-container {
  width: 28%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  .story-text {
    flex: 1;
    overflow-y: auto;

    p {
      font-family: "shoor-Medium", sans-serif;
      font-size: 18px;
      line-height: 1.8;
      color: #333;
      text-align: justify;
    }
  }

  .submit-button {
    font-family: "shoor-Medium", sans-serif;
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 2px rgb(192, 192, 192);

    &:hover {
      background-color: $color-primary-darker;
    }
  }
}

.left-content {
  width: 20%;
  height: calc(100% - 40px);
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  direction: rtl;

  .button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    .action-button {
      flex: 1;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 30px;
      font-family: "shoor-Medium", sans-serif;
      font-size: 16px;
      padding: 10px 0;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-primary-darker;
      }
    }
  }

  .divider {
    border: none;
    border-top: 1px solid #d7d7d7;
    margin: 10px 0;
  }

  /* Styles for selected image */
  /* Styles for selected image */
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-height: 800px; 
    overflow-y: auto; 

    /* Custom scrollbar styling */
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .gallery-item {
      position: relative; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .guide-icon {
      position: absolute;
      top: 15px;
      left: 15px;
      background: #345BC0;
      color: white;
      font-size: 16px;
      font-weight: bold;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;

      &:hover {
        background: #2b4aa0;
      }
    }


    .image-number {
      position: absolute;
      top: 15px;
      right: 15px;
      background: #345BC0;
      color: white;
      font-size: 16px;
      font-weight: bold;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .gallery-image {
      width: 95% !important;
      height: 190px;
      border-radius: 20px;
      object-fit: cover;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      border: 3px solid transparent;

      &.selected {
        border: 3px solid #345BC0;
      }
    }
  }

}

.story-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .story-input {
    width: 95%;
    height: 95%;
    font-family: "shoor-Medium", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    border: unset !important;
    border-radius: 15px;
    padding: 10px;
    resize: none;
    text-align: right;
    direction: rtl;
    color: #242424d8;
    font-family: "shoor-Medium";

    &:focus-visible {
      outline: unset !important;
    }
  }
}

.submit-button {
  font-family: "shoor-Medium", sans-serif;
  background-color: #345BC0;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 2px rgb(192, 192, 192);

  &:hover {
    background-color: #2b4aa0;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-family: "shoor-Medium", sans-serif;
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.story-name-input {
  width: 90%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: right;
  direction: rtl;
  margin-bottom: 15px;
  font-family: "shoor-Medium", sans-serif;

  &:focus-visible {
    outline: unset !important;
  }
}

input::placeholder {
  font-family: "shoor-Medium", sans-serif;
}

.modal-button {
  background-color: #345BC0;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "shoor-Medium", sans-serif;
}

.modal-button:hover {
  background-color: #2b4aa0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  direction: rtl;
}

.prev-button {
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 1px 2px rgb(192, 192, 192);
  font-family: 'shoor-Medium';

  &:hover {
    background-color: #b0b0b0;
  }

  &:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
}